@charset "Utf-8";
body{
    background-image: url("fundodark.jpg");
    background-color:whitesmoke;
    color: black;
    font: normal 14pt Arial;
}

h1{
    font-family: Arial;
    font-size: 30pt;
    color: rgb(177, 19, 19);
    text-shadow: 3px 3px 3px gray;
}

h2{
    font-family: Arial;
    font-size: 18pt;
    color: whitesmoke;
}


h3{
    font-family: Arial;
    font-size: 12pt;
    color: whitesmoke;
}


p{
    text-align: justify;
    text-indent: 50px;
    color: whitesmoke;
}

/*formatção cabecalho*/
header#cabecalho{
    border-bottom: 2px whitesmoke solid;
}

header#cabecalho h1{
    margin-left: 15px;
    margin-bottom: 0px;
}

header#cabecalho h3{
    margin-left: 17px;
    margin-top:  0px;
}

/*formatção imagen*/
figure.foto1{
    border: 4px solid rebeccapurple;
    width: 600px;
    height: 280px;
    position: relative;
    box-shadow: 1px 1px 4px black;
}

figure.foto1 img{
    width:100%;
    height:100%;
}

figure.foto1 figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

figure.foto1:hover figcaption{
    opacity: 1;
}

/*formatção imagen2*/
figure.foto2{
    border: 4px solid rebeccapurple;
    width: 400px;
    height: 180px;
    position: relative;
    box-shadow: 1px 1px 4px black;
}

figure.foto2 img{
    width:100%;
    height:100%;
}

figure.foto2 figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

figure.foto2:hover figcaption{
    opacity: 1;
}

/*formatção imagen3*/
figure.foto3{
    border: 4px solid rebeccapurple;
    width: 800px;
    height: 320px;
    position: relative;
    box-shadow: 1px 1px 4px black;
}

figure.foto3 img{
    width:100%;
    height:100%;
}

figure.foto3 figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

figure.foto3:hover figcaption{
    opacity: 1;
}


/*formatção imagen4*/
figure.foto4-1{
    border: 4px solid rebeccapurple;
    width: 280px;
    height: 320px;
    position: relative;
    box-shadow: 1px 1px 4px black;
    left: -45px;
}

figure.foto4-1 img{
    width:100%;
    height:100%;
}

figure.foto4-1 figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

figure.foto4-1:hover figcaption{
    opacity: 1;
}


/*formatção do gif do joinha*/
figure.foto5{
    border: 4px solid rebeccapurple;
    width: 360px;
    height: 280px;
    position: relative;
    box-shadow: 1px 1px 4px black;
}

figure.foto5 img{
    width:100%;
    height:100%;
}

figure.foto5 figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

figure.foto5:hover figcaption{
    opacity: 1;
}


/*formatção do Painel de Fotos */

figure.painelFotos{
    border: 4px solid rebeccapurple;
    width: 900px;
    height: 520px;
    position: relative;
    box-shadow: 1px 1px 4px black;
}

figure.painelFotos img{
    width:100%;
    height:100%;
}

.painelArea {
    background-color: rgba(0,0,0,.4);
    display:block;
    opacity:0;
    position:absolute;
    height:100%;
    top: 0px;
}

#AreaDir:hover{
    opacity:1 ;
    width:30%;
    left: 630px; 
}

#AreaEsq:hover{
    opacity:1 ;
    width:30%;
}

section#sectionPainelFotos h2{
    padding-left: 40px;
} 
section#sectionPainelFotos h3{
    padding-left: 40px;
} 



/*formatção do IFRAME*/
iframe#frame-spec{
    width: 500px;
    height: 320px;
    float: right;
    padding: 10px;
    border: none;
    overflow: hidden;
}




/*formatção menu*/
nav#menu{
    display: block;
}

nav#menu h1{
    display: none;
    position: relative;
    top:-479px;
    left:600px;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top:0px;
    left:1200px;
    /*top:-140px;
    left:600px;*/
}

nav#menu li{
    display: inline-block;
    background-color: cadetblue;
    padding: 10px;
    margin: 4px;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
}

nav#menu h4{
    color: black;
    text-decoration: none;
    font-family: Arial;
    font-size: 14pt;
    padding: 0px;
    margin: 0px;
}

nav#menu h4:hover{
    color: white;
}


/*formatção interface*/
div#interface{
    width: 1000px;
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
    padding: 10px 10px 10px 10px;
}



/*formatação do corpo principal*/
section#corpo{
    display: block;
    width: 660px;
    float: left;
    padding: 10px;
    border-right: 2px whitesmoke solid;
}

section#corpo h3{
    margin-top: 0px;
}
section#corpo h1{
    margin-bottom: 0px;
}

.atualizado{
    text-align: right;
}


/*formatação do corpo lateral*/

aside#lateral{
    display: block;
    width: 290px;
    float: right;
    padding: 10px;
}

div#interfaceLateral{
    width: 280px;
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    background-color: rgb(61, 57, 57);
    padding: 10px 10px 10px 10px;
}

div#interfaceLateral h1{
    background-color: rgb(114, 110, 110);
    color: white;
    font-size: 21pt;
    text-shadow: none;
}


/*formatação do rodape*/
footer#rodape{
    clear:both;
    border-top: 2px whitesmoke solid;
}

footer#rodape h3{
    text-align: center;
}



/*formatção menu Sobre min
nav#menu1{
    display: block;
}

nav#menu1 h1{
    position: relative;
    top:-520px;
    left:600px;
}

nav#menu1 ul{
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top:-600px;
    left:900px;
}

nav#menu1 li{
    display: inline-block;
    background-color: cadetblue;
    padding: 10px;
    margin: 4px;
}

nav#menu1 li:hover{
    background-color: #606060;
}

/*formatção menu fotos
nav#menu2{
    display: block;
}

nav#menu2 h1{
    position: relative;
    top:-1276px;
    left:600px;
}

nav#menu2 ul{
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top:-1356px;
    left:900px;
}

nav#menu2 li{
    display: inline-block;
    background-color: cadetblue;
    padding: 10px;
    margin: 4px;
}

nav#menu2 li:hover{
    background-color: #606060;
}

